body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para a barra de pesquisa */
#searchInput {
    padding: 8px;
    border: 1px solid #ccc; /* Adiciona uma borda cinza */
    border-radius: 4px; /* Adiciona cantos arredondados */
    margin-right: 5px; /* Adiciona um espaço entre o campo de entrada e o botão */
}

#searchButton {
    padding: 8px 15px;
    border: 1px solid #ccc; /* Adiciona uma borda cinza */
    border-radius: 4px; /* Adiciona cantos arredondados */
    background-color: #f0f0f0; /* Adiciona um fundo cinza claro */
    cursor: pointer;
}

#searchButton:hover {
    background-color: #ddd; /* Altera a cor de fundo quando o mouse passa por cima */
}